/*
 * checkbox, radio - cross browser
 */
.selectbox { vertical-align: middle; margin-top: -2px; margin-bottom: 1px; }

/*
 * ajax loading
 */
.loading { display: none; width: 72px; padding: 8px 10px; font-size: 14px; font-weight: 700; color: #000; 
	border: solid 1px #F0C36D; background: #F9EDBE; position: fixed; left: 50%; top: 5%; z-index: 99; margin-left: -47px;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
	
.outline-disabled {
	font-style: expression((function(el) {el.style.fontStyle = 'normal'; el.hideFocus = true;})(this));
}
